---
import { getCollection } from "astro:content";
import { Content } from "../../prose.md";
import CostComponent from "../components/CostComponent.tsx";
import TableComponent from "../components/TableComponent.tsx";
import Layout from "../layouts/Layout.astro";

const providers = await getCollection("providers");
---

<Layout>
	<h1 class="text-3xl font-bold my-8">
		Cloud-Native Geospatial Storage Cheatsheet
	</h1>
	<div class="prose">
		<Content/>	
	</div>
	<h2 class="text-2xl font-bold my-4">Cost Estimate</h2>
	<CostComponent client:only="solid-js" providers={providers}/>
	<h2 class="text-2xl font-bold my-4">Pricing Table</h2>
	<TableComponent client:only="solid-js" providers={providers}/>
	
	<p>
		Free account-level allowances are not included. 
	</p>
</Layout>
